:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: var(--Very-Light-Gray);
  color: var(--Grayish-Blue);
}
main {
  margin: 40px 20px 0px;
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-text .title,
.main-text .sub-title {
  white-space: nowrap;
  font-size: 1.5rem;
}
.main-text .title {
  font-weight: 200;
  color: var(--Grayish-Blue);
}
.main-text .sub-title {
  font-weight: 600;
  color: var(--Very-Dark-Blue);
}
.main-text .plain-text {
  margin: 20px 0px 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  height: 200px;
  padding: 20px;
  margin-top: 20px;
}
.card :last-child {
  margin-left: auto;
  margin-top: 20px;
}
.card h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--Very-Dark-Blue);
}
.card-1 {
  border-top: 3px solid var(--Cyan);
}
.card-2 {
  border-top: 3px solid var(--Red);
}
.card-3 {
  border-top: 3px solid var(--Orange);
}
.card-4 {
  border-top: 3px solid var(--Blue);
}

@media (min-width: 700px) {
  main {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: 300px;
  }
  .main-text {
    text-align: center;
  }
  .main-text .plain-text {
    max-width: 450px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 20px;
  }
  .card-1 {
    grid-column: 1;
  }
  .card-2 {
    grid-column: 2;
  }
  .card-3 {
    grid-column: 2;
  }
  .card-4 {
    grid-column: 3;
  }
}
